<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav w-100">
      <li class="nav-item align-self-start">
        <a class="nav-link navbar-brand" href="#">Company</a>
      </li>
      <li class="nav-item table-hover">
        <a class="nav-link" href="#">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Violations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item align-self-end">
        <a class="nav-link text-right" href="#">Profile</a>
      </li>
      <li class="nav-item align-self-end">
        <a class="nav-link" href="#">Log Out</a>
      </li>
    </ul>

  </nav>
</header>
