<div >
  <div class="card tam_card">
    <img class="card-img-top" src="http://k41.kn3.net/taringa/6/8/7/7/7/3/1/agushhhhh/718.jpg?9775" width="320" height="200" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Thumbnail label</h4>
      <p class="card-text letra_contenido_carta">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="btn btn-primary">Button</a>
      <a href="#" class="btn btn-default btn-space">Button</a>
    </div>
  </div>
  <br>
  <div class="card tam_card">
    <img class="card-img-top" src="http://k41.kn3.net/taringa/6/8/7/7/7/3/1/agushhhhh/718.jpg?9775" width="320" height="200" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Thumbnail label</h4>
      <p class="card-text letra_contenido_carta">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <a href="#" class="btn btn-primary">Button</a>
      <a href="#" class="btn btn-default btn-space">Button</a>
    </div>
  </div>
</div>

