<form action="#">
  <div class="form-group">
    <label for="#" class="alert-light letra_formulario">Template name</label>
    <input type="text" class="form-control" id="#" placeholder="Uncompleted Profile">
    <br>
    <label for="#" class="alert-light letra_formulario">Subject</label>
    <input type="text" class="form-control" id="#1" placeholder="Hello, %USER_FULL_NAME%">
    <br>
    <label for="#" class="alert-light letra_formulario">Message</label>
    <textarea class="form-control" rows="6" id="comment" placeholder="Hello %USER_FULL_NAME%!"></textarea>
    <br>
    <div class="">
    <div class="col-6 float-left">
      <label for="#" class="alert-light letra_formulario">Message Type</label>
      <select class="form-control" id="sel1">
        <option>Email + Push</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
<br>
      <div>
        <label for="#" class="alert-light letra_formulario">Send to Group</label>
        <div class="checkbox">
          <label><input type="checkbox" value="">Top Management</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Marketing Department</label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value="">Design Department</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Financial Department</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Supply Department</label>
        </div>
      </div>
      <br>
    </div>
    <div class="col-6 float-left">
      <label for="#" class="alert-light letra_formulario">Tap target</label>
        <select class="form-control" id="sel2">
          <option>Profile Screen</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      <br>
      <div>
        <label for="#" class="alert-light letra_formulario">Set Type</label>
        <div class="radio">
          <label><input type="radio" name="optradio">News</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Reports</label>
        </div>
        <div class="radio ">
          <label><input type="radio" name="optradio">Documents</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Media</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Text</label>
        </div>
      </div>
    </div>
    </div>
    <br>
    <div class="col-12 float-left">
      <button type="button" class="btn btn-primary float-left">Save Template</button>
      <button type="button" class="btn btn-default float-left">Cancel</button>
      <button type="button" class="btn btn-danger float-right">Delete Template</button>
    </div>
    <br>
  </div>

</form>


